<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbionRadaro.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AlbionRadaro.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AlbionRadaro.AppSettings>
            <setting name="T123" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T41" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T42" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T43" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T50" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T51" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T52" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T53" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T60" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T61" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T62" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T63" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T70" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T71" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T72" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T73" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T80" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T81" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T82" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="T83" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rFiber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rWood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rOre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rOtherMobs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rRock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rHarvestableMob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rSkinnableMob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rTreasures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rDisplayPeople" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rSoundOnPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radarX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="radarY" serializeAs="String">
                <value>0</value>
            </setting>
        </AlbionRadaro.AppSettings>
        <AlbionRadaro.Settings1>
            <setting name="Tier123" serializeAs="String">
                <value>false</value>
            </setting>
        </AlbionRadaro.Settings1>
    </userSettings>
</configuration>